@tailwind utilities;

@layer utilities {
  .container {
    @apply w-full max-w-6xl mx-auto px-4 md:px-8;
  }
  .prose {
    @apply text-gray-900 dark:text-white;

    p,
    li,
    strong,
    ul,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-gray-900 dark:text-white;
    }
    a {
      @apply text-primary-500 hover:text-primary-600;
    }
  }
}
html {
  scroll-padding: 3rem;
}
.dark {
  color-scheme: dark;
}
.vertical-r1 {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
