@tailwind utilities;

@layer utilities {
  .container {
    @apply w-full max-w-6xl mx-auto px-4 md:px-8;
  }
  .prose,
  .prose-lg {
    @apply text-gray-900 dark:text-white;
    p,
    li,
    strong,
    ul,
    h1,
    h2,
    h3,
    h4,
    h5,
    code,
    a,
    h6 {
      @apply text-gray-900 dark:text-white;
    }
    pre {
      @apply rounded-2xl;
    }
  }
}
html {
  scroll-padding: 3rem;
}
.dark {
  color-scheme: dark;
}
.vertical-r1 {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

html {
  text-rendering: optimizeLegibility;
}
